*{
   
    font-family:  sans-serif !important;
    box-sizing: border-box !important;

}

/* navbar lg*/
.navbar{
    background-color: white !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}
.navbar .dropdown:hover .dropdown-menu {
   display: block;
    margin-top: 0px; /* remove the gap so it doesn't close */
   
}
.nav-link{
    color: #02274b !important;
}
 .nav-link:hover {
    color: #cd2c22 !important;
}
.dropdown:hover .nav-link{
    color: #cd2c22 !important;
}
.nav-link{
    font-weight: 600;
    font-size: 15px;
}
.dropdown-menu{
    border: none;
    border-radius: 10px;
    width: 16rem;
   
    font-size: 14px;
}
.navbar .dropdown-item:hover{
    background-color: transparent;
    padding-left: 25px;
   
}
.dropdown-divider{
    width: 90%;
   margin-left: auto;
   margin-right: auto;
}
#home-flight{
    font-size: 30px;
    background-color: rgba(114, 114, 223, 0.13);
    color: red;
    
}
.flight-description{
    font-size: 12px;
    margin-top: -20px;
    color: rgb(94, 94, 94);
    letter-spacing: 0.5px;
}
.dropdown-item {
    font-size: 14px;


}
.cards p{
    margin-top: 5px;
   line-height: 18px;
}


.cards{
    margin-left: 10px;
    margin-right: 10px;
    width: 14rem;
    margin-top: 10px;;
}
.cards:hover{
    border-radius: 10px ;
    box-shadow: 2px 2px 4px #007bff34 !important;
    padding-left: 16px !important;

}

.menu{
    width: 25vw;
}
#nav-link{
    font-weight: 500;
    background-color: #cfdde773;
    border-radius: 5px;
}
#nav-link img{
    border-radius: 50%;
}
.btn-lg{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.btn-lg i{
    font-size: 16px;
}

/* navbar lg end */

/* hero-sec */
#hero-section{
    margin: 0px !important;
    padding: 0px !important;
  
}
#hero-section img{
    height: 100vh;
    filter: brightness(45%);
}
.hero-section-content{
    position: absolute;
    top: 200px;
    width: 100%;
    margin: auto;
}
/* hero-section-responsivenes */
@media only screen and (max-width:991px){
    #hero-section img{
        height: 100vh !important;
        filter: brightness(45%);
    }
    .hero-section-content{
        position: absolute;
        top: 150px !important;
        width: 100%;
        margin: auto;
    }
    .hero-section-booking{
        position: absolute;
        top: 310px !important;
        width: 100%;
        margin: auto;
       
    }
}
@media only screen and (max-width:767px){
    #hero-section img{
        height: 110vh !important;
        filter: brightness(45%);
    }
}
@media only screen and (max-width:575px){
    #hero-sec-booking-container{
        width: 80%;
    }
    #hero-section img{
        height: 135vh !important;
        filter: brightness(45%);
    }
    .hero-section-content{
        position: absolute;
        top: 140px !important;
        width: 100%;
        margin: auto;
    }
    .hero-section-content p{
        font-size: 17px !important;
        letter-spacing: -0.2px;
    
    }
    .hero-section-booking{
        position: absolute;
        top: 300px !important;
        width: 100%;
        margin: auto;
       
    }
}
/* hero-sec-responsiveness-end */
.hero-section-booking input:focus, select:focus{
outline: none;
box-shadow: none !important;

}
.hero-section-booking input:focus, select:focus{
    outline: none;
    box-shadow: none !important;
    border-color: #cd2c22;
    
    }
    #hero-section-adults-member:focus{
        border-color:#cd2c22 !important ;
    }
    #hero-section-premium-member:focus{
        border-color:#cd2c22 !important ;
    }
    /* #hero-section-premium-member option:hover{
        background-color: #cd2c22 !important;

    } */
    .hero-section-booking .dropdown:focus+.dropdown-menu{
        display: block;
    }
.hero-section-content h1{
    font-weight: bolder;
    font-family: sans-serif !important;
}
.hero-section-content p{
    font-size: 20px;
    letter-spacing: -0.2px;

}
.form-check-input:active{
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.411);
    background-color: #cd2d2263;
    border-color:#cd2c22 ;
}
.form-check-input:focus{
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.411);
}
.form-check-input:checked{
    background-color: #cd2c22 !important;
   box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.411);
border-color:#cd2d22e0 ;
}
/* 
input[type=datetime-local]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=datetime-local]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=datetime-local]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=datetime-local]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}

input[type="datetime-local"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
    }
    input[type="datetime-local"]:focus:before,
    input[type="datetime-local"]:valid:before {
    content: "";
    }
    #date input{
        white-space: nowrap;
        text-overflow: ellipsis;
    }*/
    .hero-section-booking{
        position: absolute;
        top: 350px;
        width: 100%;
        margin: auto;
       
    }
    #hero-sec-booking-container{
        background-color: white;
        padding-top: 20px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    #hero-search-btn i{
        font-size: 14px;
        font-weight: bolder !important;
    }
    /* hero-sec end */
    /* section 1 */
   .card-body .card-title{
    font-size: 22px;
    font-weight: bold;
   }
   .card{
    border: none;
   }
   .card-text{
    color: rgb(88, 87, 87);
   }

   /* section 1 end */
   /* section 2 */

.popular-destination h3{
    font-weight: bold;
}
.popular-destination p{
    color: rgb(88, 87, 87);

}
.popular-destination .card-title{
    color: #05264e;
} 

.popular-destination .card-text{
    color: #455873;
}
.popular-destination .card{
    border: 1px dashed #dee2e6;
}
.popular-destination img{
    margin: 12px;
}
.popular-destination .card-body{
    margin-top: -10px;
}
   /* section 2 end */

   /* section 3  */
   .popular-route{
    background-color: #f1f5f8;
   }


   .popular-route  h3{
    font-weight: bold;
}

.popular-route p{
    color: rgb(88, 87, 87);

}
.popular-route .card-title{
    font-size: 16px;
    font-weight: bolder;
}
.popular-route .card-title i{
   font-weight: 900;
  color: rgb(80, 70, 70);
}
.popular-route big{
    font-weight: bolder;
}
.popular-route .btn{
    border: none !important;
    background-color: #FFE6E5;
    color: #be1a0f;
    font-size: 16px;

}
.popular-route .btn:hover{
    background-color: #cd2c22;
    color: white;
}
/* .popular-route img{
    z-index: 1;
}
.popular-route img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
   
} */
   /* section-3 end */

/* section 4 */
#rating-page-container{
    overflow-x: hidden;
}

.Rating-page .rating-page-img-sec img{
    height: 80vh !important;
    border-radius: 10px;
  
}
.Rating-page .rating-page-card-sec{
    position: relative;
    top: 450px;
    left: 100px;

}
@media only screen and (max-width:991px){
    .Rating-page .rating-page-card-sec{
        position: relative;
        top: 450px;
        left: 170px;
    
    }

}
@media only screen and (max-width:767px){
    .Rating-page .rating-page-card-sec{
        position: relative;
         top: 450px;
        left: 90px;
    
    }
   

}
@media only screen and (max-width:575px){
    .Rating-page .rating-page-card-sec{
        position: relative;
        top: 450px;
        left: 100px;
    
    }
   

}
@media only screen and (max-width:500px){
    .Rating-page .rating-page-card-sec{
        position: relative;
      
        left: 60px;
    
    }
   

}
@media only screen and (max-width:400px){
    .Rating-page .rating-page-card-sec{
        position: relative;
        
        left: 30px;
    
    }
   

}
@media only screen and (max-width:300px){
    .Rating-page .rating-page-card-sec{
        position: relative;
         
        left: 10px;
    
    }
   

}
.card-profile-section{
 
    margin-top: 8px;
}
.card-profile-section .img-profile-1{
    border-radius: 50%;
}
.card-profile-section .img{
    border-radius: 50%;
    margin-left: -14px;
   
}
.card-profile-section p{
    background-color: red;
    margin-left: -12px;
    border-radius: 50%;
    padding: 7px 2px;
    color: white;
    font-weight: bolder;
   
   
}
.star{
    margin-top: 8px;
    font-weight: bold;
    color: black;
    font-size: 17px;
}
.star i{
    color: goldenrod;
    font-size: 18px;
}
#rating-page-container .card-title{
font-size: 16px !important;
font-weight: bolder;

}
#rating-page-para-sec{
    margin-top: 10px;
}
.gift-icon-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.137);
   
}
.gift-icon-1 i{
    font-size: 25px;
    color: #cd2c22;
   
}


.gift-icon-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: rgba(0, 0, 255, 0.164);
   
}
.gift-icon-2 i{
    font-size: 25px;
    color: blue;
   
}
.gift-icon-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
    background-color:rgba(0, 128, 0, 0.247);
   
}
.gift-icon-3 i{
    font-size: 25px;
    color: green;
   
}
.gift-icon-4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: #fff3cd;
   
}
.gift-icon-4 i{
    font-size: 25px;
    color: gold;
   
}
@media only screen and (min-width:768px){
    #rating-page-content-sec{
        margin-top:110px !important;
    }
}
/* section 4 end */

/* section 5 start */

.video-section{
height: 85vh;
background-image: url(/images/yt-video-image.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
filter: brightness(99%);
}

.play-btn{
    background-color: white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    filter: brightness(100%);
}
.play-btn i{
    font-size: 50px;
    color: #cd2c22;
}

/* section 5 end */
/* section 6 start */

.reviews-sec {
    background-color: #f7f9fc;
}
.reviews-sec h4{
    font-weight: bolder;
    font-size: 1.3rem;
}
.reviews-sec img{
    border-radius: 10px ;
   
}
.reviews-sec .card-title{
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.reviews-sec .star-icon{
    margin-top: -20px;
}
.reviews-sec  i{
color: goldenrod;
font-size: 12px;

}

.reviews-sec .States{
  margin-top: -6px;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 0.2px;
  color: grey;
}
.reviews-sec .card-text{
    color: grey;
    font-size: 14px;
    margin-top: -10px;
    letter-spacing: 0.3px;
}
.reviews-sec .card-text-1{
    color: grey;

}
/* section 6 end */

/* section 7 start */

.join-Geotrip{
    background-color: #cd2c22;
    height: 150px;
  
}
@media only screen and (max-width:767px){
    .join-Geotrip{
        background-color: #cd2c22;
        height: 250px;
}
#join-Geotrip-form{
    margin: auto;
}
#join-Geotrip-form{
    background-color: white;
    border-radius: 10px;
}
.join-Geotrip button{
    background-color: #212529;
    color: white;
    margin: 10px 0px 10px 2px !important;
    padding: 10px 25px;
    border-radius: 8px !important;
    border: none;
    font-weight: 540;

   
}
}
.join-Geotrip h4{
    font-weight: bolder;

}
@media only screen and (min-width:767px){
#join-Geotrip-form{
    background-color: white;
    border-radius: 10px;
}
.join-Geotrip button{
    background-color: #212529;
    color: white;
    margin: 10px 0px 10px 2px !important;
    padding: 10px 25px;
    border-radius: 8px !important;
    border: none;
    font-weight: 540;

   
}
}
@media only screen and (max-width:767px){
  
    }
.join-Geotrip button:active{
    border: none;
    background-color: #cd2c22;
}
.input-group input{
   border: none;
   
    
}
.input-group input::placeholder{
    font-size: 14px;
    color: grey;
}
.input-group input:focus{
    outline: none;
    box-shadow: none;
}

/* section 7 end */
/* footer-section */

.footer-section li, p{
    font-size: 13px;
    color: #5d6f7d;
}
.footer-section .footer-heading{

    font-size: 15px !important;
    color: #003a75 !important;
    font-weight: bolder;

}
.footer-section li:hover{
    color: #be1a0f;
    text-decoration: underline;
}


/* footer-section-end */